body > header{
    background-color: rgba(0, 0, 0, 0.3);
    
    display: grid;
    
    color: white;
    > figure{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > img{
            width: 50%;
        }
    }
    > nav{
        align-self: center;
        justify-self: center;   
        > ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            > li{
                display: inline;
                font-size: 1.2rem;
                font-weight: 500;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
#home > header{
    background-color: rgba(0, 0, 0, 0.3);
}
#cours > header{
    background-color: #010630;
}

@media (min-width: 768px){
    body > header{
        height: 10vh;
        grid-template-columns: 0.1fr 1fr;
        > figure > img{
            width: 50%;
        }
        > nav{
            width: 50%;
        }
    }
}
@media (max-width: 768px){
    body > header{
        grid-template-rows: 4vh 4vh;
        > figure > img{
            height: 100%;
        }
        > nav{
            width: 80%;
        }
    }
}